<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>thumb</key>
	<dict>
		<key>thumbChunkCacheSize</key>
		<integer>262144000</integer>
	</dict>
	<key>standard</key>
	<dict>
		<key>TSLibraryPickerControllerDetailsVisible</key>
		<false/>
	</dict>
</dict>
</plist>
